<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="/static/img/icon/favicon.png">
	<title>Placement Courses on LearnSmart</title>
	<link rel="stylesheet" type="text/css" href="/static/css/subjects.css">
	<script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
	
 <!--NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="/index.html"><img src="/static/img/icon/logo.png" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="/static/img/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a href="#"><img src="/static/img/courses/computer.png" class="icon">Placement Courses</a></li>
				<li><a href="#data"><img src="/static/img/courses/data.png" class="icon">Data Structures</a></li>
				<li><a href="#algo"><img src="/static/img/courses/algo.png" class="icon">Algorithm</a></li>
			</ul>
			<div class="search" id="search-switch">
				<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="/static/img/icon/search.png"></button>
			</div>
		</div>
	</header>


<!-- MAIN Heading of Page -->
	<div class="title">
		<span>Placement Courses<br>on LearnSmart</span>
		<div class="shortdesc">
			<p>Learn programming languages and concepts to prepare for a career in<br>hardware or software development</p>
		</div>
	</div>


<!-- Some KeyWords related to Topic -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="#java">Java</a></div>
		<div class="det"><a href="https:/developer.android.com/">Android Development</a></div>
		<div class="det"><a href="https:/docs.oracle.com/javafx/2/get_started/fxml_tutorial.htm">FXML</a></div>
		<div class="det"><a href="#c++">C++</a></div>
		<div class="det"><a href="https:/www.geeksforgeeks.org/introduction-of-compiler-design/">Compiler Designing</a></div>
		<div class="det"><a href="https:/www.coursera.org/specializations/game-design-and-development">Game Development</a></div>
		<div class="det"><a href="#algo">Algorithm</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#python">Python</a></div>
		<div class="det"><a href="https:/www.coursera.org/learn/machine-learning">Machine Learning</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/Artificial_intelligence">Artificial Intelligence</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/Network">Networking</a></div>
		<div class="det"><a href="https:/www.kaspersky.co.in/resource-center/definitions/what-is-cyber-security">Cyber Security</a></div>
		<div class="det"><a href="https:/www.eccouncil.org/ethical-hacking/">Ethical Hacking</a></div>
		<div class="det"><a href="#data">Data Structures</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#html_css">HTML and CSS</a></div>
		<div class="det"><a href="https:/www.udacity.com/course/full-stack-web-developer-nanodegree--nd0044">Full Stack Web Development</a></div>
		<div class="det"><a href="https:/uxplanet.org/what-is-ui-vs-ux-design-and-the-difference-d9113f6612de?gi=6d9d13f4cc95">UI Designing</a></div>
		<div class="det"><a href="https:/www.adobe.com/in/products/xd.html">Adobe XD</a></div>
		<div class="det"><a href="https:/www.sciencedirect.com/topics/computer-science/hardware-design">Hardware Designing</a></div>
		<div class="det"><a href="#javascript">JavaScript</a></div>
		<div class="det"><a href="#html_css">Bootstrap</a></div>
		</div>
	</div>


<!-- Courses Available -->
	<div class="inbt">
		Accelerate your career with Placement Programs
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/java-course.jpg"></div>
				<a href="#java"><div class="spart">2 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/python-course.png"></div>
				<a href="#python"><div class="spart">5 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/c-course.jpg"></div>
				<a href="#c++"><div class="spart">3 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
		</div>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/data-course.jpg"></div>
				<a href="#data"><div class="spart">2 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/algo-course.jpg"></div>
				<a href="#algo"><div class="spart">1 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
		</div>
	</center>
	</div>


<!-- Videos on JAVA Lectures -->
	<div class="title2" id="java">
		<span>Start Programming with Java</span>
		<div class="shortdesc2">
			<p>Practice and Practice to become a good Java Programmer</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/yRpLlJmRo2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/LusTv0RlnSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/I5srDu75h_M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/0r1SfRoLuzU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/GjHNGM7KN3w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/Dr4PpNa7AYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/qcSz4ef9UHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2">
					<img src="/static/img/courses/java-course.jpg">
					<iframe src="https:/www.youtube.com/embed/pFPZ83mgH00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
	<br><br>
	<div class="click-me">
		<a href="https:/youtube.com/playlist?list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- Videos on C++ Lectures -->

	<div class="title2" id="c++">
		<span>Start Programming with C++</span>
		<div class="shortdesc2">
			<p>Practice and Practice to become a good C++ Programmer</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/z9bZufPHFLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/0yn7irrHzM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/cnT1oW5_ePM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/7dPdMtBX1d8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/cyB3HNlQyjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/IlIn_D1RT7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/Stf7KBiA1vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/c-course.jpg">
					<iframe src="https:/www.youtube.com/embed/G80-j_xnE_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- Videos on PYTHON Lectures -->

	<div class="title2" id="python">
		<span>Start Programming with Python</span>
		<div class="shortdesc2">
			<p>Practice and Practice to become a good Python Programmer</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/QXeEoD0pB3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/hEgO047GxaQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/mbryl4MZJms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/DWgzHbglNIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/TqPzwenhMj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/Eaz5e6M8tL4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/Mf7eFtbVxFM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/python-course.png">
					<iframe src="https:/www.youtube.com/embed/2IsF7DEtVjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https:/youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3" target="_blank">Click Here to Watch full playlist</a>
	</div>


	<!-- Videos on DATA STRUCTURES Lectures -->

	<div class="title2" id="data">
		<span>Data Structures</span>
		<div class="shortdesc2">
			<p>Make your data structures concepts strong...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/4OGMB4Fhh50" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/rLf3jnHxSmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/fO4FwJOShdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/Rl9w0hVxuRw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/VXol2-SoUy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/_9bAlgRzlkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/bUryucFPC6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/data-course.jpg">
					<iframe src="https:/www.youtube.com/embed/nwfoxcXgs8o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtube.com/playlist?list=PLBlnK6fEyqRhX6r2uhhlubuF5QextdCSM" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- Videos on ALGORITHM Lectures -->

	<div class="title2" id="algo">
		<span>Algorithm</span>
		<div class="shortdesc2">
			<p>Make your algorithm concepts clear...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/0IAPZzGSbME" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/-JTq1BFBwmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/FbYzBWdhMb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/xGYsEqe9Vl0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/1U3Uwct45IY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/9TlHvipP5yA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/9SgLBjXqwd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/algo-course.jpg">
					<iframe src="https:/www.youtube.com/embed/p1EnSvS3urU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtube.com/playlist?list=PLDN4rrl48XKpZkf03iYFl-O29szjTrs_O" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- SAMPLE PAPERS -->

<div class="title2" id="sample_papers">
    <span>DSA Practice Questions</span>
    <div class="shortdesc2">
        <p>Practice more and more questions!!</p>
    </div>
</div>

<div class="sample">
    <ul>
        {% load static %}
        <li><a href="{% static "samplePapers/FINAL450_DSA.PDF" %}" target="_blank">DSA Practice Sheet</a></li>
    </ul>
</div>

<!-- FOOTER -->
<footer>
	<div class="footer-container">
		<div class="left-col">
			<img src="/static/img/icon/logo - Copy.png" style="height: 60;width: 150px;">
			<div class="logo"></div>
			<div class="social-media">
				<a href="#"><img src="/static/img/icon\fb.png"></a>
				<a href="#"><img src="/static/img/icon\insta.png"></a>
				<a href="#"><img src="/static/img/icon\tt.png"></a>
				<a href="#"><img src="/static/img/icon\ytube.png"></a>
				<a href="#"><img src="/static/img/icon\linkedin.png"></a>
			</div><br><br>
			<p class="rights-text">Made with ❤ by Banti, Jayesh & Arpitshivam</p>
			<br><p><img src="/static/img/icon/location.png">Thakur College of Engineering & Technology <br> Kandivali, Mumbai</p><br>
			<p><img src="/static/img/icon/phone.png"> +91-9876-576-997<br><img src="/static/img/icon/mail.png">&nbsp; learnsmart@gmail.com</p>
		</div>
		<div class="right-col">
			<h1 style="color: #fff">Our Newsletter</h1>
			<div class="border"></div><br>
			<p>Enter Your Email to get our News and Updates.</p>
			<form class="newsletter-form">
				<input class="txtb" type="email" placeholder="Enter Your Email">
				<input class="btn" type="submit" value="Submit">
			</form>
		</div>
	</div>
</footer>

</body>
</html>
