<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="/static/img/icon/favicon.png">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>LearnSmart</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/contact.css">

	<script src="https:/code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(window).on('scroll', function(){
  			if($(window).scrollTop()){
  			  $('nav').addClass('black');
 			 }else {
 		   $('nav').removeClass('black');
 		 }
		})
	</script>
</head>





<!-- Navigation Bar -->
<header id="header">
    <nav>
        <div class="logo"><img src="/static/img/icon/logo.png" alt="logo"></div>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'aboutus' %}#about_section">About Us</a></li>
            <li><a href="{% url 'team' %}#team_section">Team</a></li>
            <li><a href="{% url 'services' %}#services_section">Services</a></li>
            <li><a href="#contactus_section">Contact Us</a></li>
            <li><a href="{% url 'feedback' %}#feedBACK">Feedback</a></li>
        </ul>
        <div class="srch"><input type="text" class="search" placeholder="Search here..."><img src="/static/img/icon/search.png" alt="search" onclick=slide()></div>
        <a class="get-started" href="{% url 'login' %}">Get Started</a>
        <img src="/static/img/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
    </nav>
    
</header>


<!-- CONTACT US -->
<!---
<script>
	$(document).ready(function(){
	  $("form").submit(function(){
		alert('Thank You! We will reach out to you soon.');
	  });
	});
</script>    -->
<body>
	<div class="diffSection" id="contactus_section">
		<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
		<div class="csec"></div>
	
		<div class="back-contact">
			<div class="cc">
			<form action="#" method="post">
				{% csrf_token %}
				<label>First Name <span class="imp">*</span></label><label style="margin-left: 185px">Last Name <span class="imp">*</span></label><br>
				<center>
				<input type="text" name="fname" style="margin-right: 10px; width: 175px" required="required"><input type="text" name="lname" style="width: 175px" required="required"><br>
				</center>
				<label>Email <span class="imp">*</span></label><br>
				<input type="email" name="email" style="width: 100%" required="required"><br>
				<label>Message <span class="imp">*</span></label><br>
				<input type="text" name="message" style="width: 100%" required="required"><br>
				<label>Additional Details</label><br>
				<textarea name="additional"></textarea><br>
				<button type="submit" id="csubmit" onclick="alert('Thank You! We will reach out to you soon.')"> Send Message</button>
			</form>
	
			</div>
		</div>
	</div>
</body>


<!-- FOOTER -->
<footer>
	<div class="footer-container">
		<div class="left-col">
			<img src="/static/img/icon/logo - Copy.png" style="height: 60;width: 150px;">
			<div class="logo"></div>
			<div class="social-media">
				<a href="#"><img src="/static/img/icon\fb.png"></a>
				<a href="#"><img src="/static/img/icon\insta.png"></a>
				<a href="#"><img src="/static/img/icon\tt.png"></a>
				<a href="#"><img src="/static/img/icon\ytube.png"></a>
				<a href="#"><img src="/static/img/icon\linkedin.png"></a>
			</div><br><br>
			<p class="rights-text">Made with ❤ by Banti, Jayesh & Arpitshivam</p>
			<br><p><img src="/static/img/icon/location.png">Thakur College of Engineering & Technology <br> Kandivali, Mumbai</p><br>
			<p><img src="/static/img/icon/phone.png"> +91-9876-576-997<br><img src="/static/img/icon/mail.png">&nbsp; learnsmart@gmail.com</p>
		</div>
		<div class="right-col">
			<h1 style="color: #fff">Our Newsletter</h1>
			<div class="border"></div><br>
			<p>Enter Your Email to get our News and Updates.</p>
			<form class="newsletter-form">
				<input class="txtb" type="email" placeholder="Enter Your Email">
				<input class="btn" type="submit" value="Submit">
			</form>
		</div>
	</div>
</footer>

</html>