<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="/static/img/icon/favicon.png">
	<title>Prepare for Placement on LearnSmart</title>
	<link rel="stylesheet" type="text/css" href="/static/css/subjects.css">
	<script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>

<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="/index.html"><img src="/static/img/icon/logo.png" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="/static/img/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a href="{% url 'gate' %}#math"><img src="/static/img/courses/d1.png" class="icon">Aptitude</a></li>
				<li><a href="{% url 'gate' %}#digital"><img src="/static/img/courses/paper.png" class="icon">Digital Logic</a></li>
				<li><a href="{% url 'gate' %}#coaa"><img src="/static/img/courses/computer.png" class="icon">COA</a></li>
				<li><a href="{% url 'gate' %}#os"><img src="/static/img/courses/data.png" class="icon">Operating System</a></li>
				<li><a href="{% url 'gate' %}#database"><img src="/static/img/courses/algo.png" class="icon">DBMS</a></li>
				<li><a href="{% url 'gate' %}#cn"><img src="/static/img/courses/projects.png" class="icon">Computer Networks</a></li>
			</ul>
			<div class="search" id="search-switch">
				<input type="text" placeholder="Search" class="srch"><button id="srchbtn"><img src="/static/img/icon/search.png"></button>
			</div>
		</div>
	</header>


<!-- Main Title of the Page -->
	<div class="title">
		<span>Prepare for Placements on <br>LearnSmart</span>
		<div class="shortdesc">
			<p>Learn from LearnSmart for better Future</p>
		</div>
	</div>


<!-- Some KeyWords related to topic -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="#digital">Digital Logic</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/Sequential_logic" target="_blank">Combinational & Sequential Circuits</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/ALU" target="_blank">Computer Arithmetic</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/Boolean_algebra" target="_blank">Boolean Algebra</a></div>
		<div class="det"><a href="computer_courses.html#algo">Algorithm</a></div>
		<div class="det"><a href="computer_courses.html#data">Data Structures</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#compiler">Compiler Design</a></div>
		<div class="det"><a href="#os">OS</a></div>
		<div class="det"><a href="#coaa">Computer Organization & Architecture</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/IPv4" target="_blank">IPv4 / IPv6</a></div>
		<div class="det"><a href="#cn">Computer Networks</a></div>
		<div class="det"><a href="#database">Databases</a></div>
		<div class="det"><a href="https:/en.wikipedia.org/wiki/Theory_of_computation" target="_blank">Theory of Computation</a></div>
		</div>
	</div>


<!-- Courses Available -->
	<div class="inbt">
		Accelerate your career with Placement programs
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/math.jpg"></div>
				<a href="#math"><div class="spart">2 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/digital.jpg"></div>
				<a href="#digital"><div class="spart">5 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/coaa.jpg"></div>
				<a href="#coaa"><div class="spart">3 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/database.jpg"></div>
				<a href="#database"><div class="spart">3 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/compiler.jpg"></div>
				<a href="#compiler"><div class="spart">2 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/os.jpg"></div>
				<a href="#os"><div class="spart">1 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/static/img/courses/cn.jpg"></div>
				<a href="#cn"><div class="spart">3 Courses <img src="/static/img/icon/dropdown.png"></div></a>
			</div>
		</div>
	</center>
	</div>


<!-- Videos on APTITUDE Lectures -->

	<div class="title2" id="math">
		<span>Aptitude</span>
		<div class="shortdesc2">
			<p>Practice Aptitude on your tips...</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/math.jpg">
					<iframe src="https:/www.youtube.com/embed/xxGyTHWrHZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/www.youtube.com/watch?v=xxGyTHWrHZg" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on DIGITAL LOGIC Lectures -->

	<div class="title2" id="digital">
		<span>Digital Logic</span>
		<div class="shortdesc2">
			<p>Learn deeply about Digital Logic Circuits...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/digital.jpg">
					<iframe src="https:/www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/-M7oIM8hKSU" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER ORGANIZATION and ARCHITECTURE Lectures -->

	<div class="title2" id="coaa">
		<span>Computer Organization and Architecture</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/coaa.jpg">
					<iframe src="https:/www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/q6oiRtKTpX4" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPILER Lectures -->

	<div class="title2" id="compiler">
		<span>Compiler Design</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/compiler.jpg">
					<iframe src="https:/www.youtube.com/embed/yNZIhF6pxjM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/yNZIhF6pxjM" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on OPERATING SYSTEM Lectures -->


<div class="title2" id="os">
		<span>Operating System</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/os.jpg">
					<iframe src="https:/www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/vBURTt97EkA" target="_blank">Click Here to Watch full playlist</a>
	</div>


<!-- Videos on DATABASE Lectures -->

<div class="title2" id="database">
		<span>Databases</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/database.jpg">
					<iframe src="https:/www.youtube.com/embed/wR0jg0eQsZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/wR0jg0eQsZA" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER NETWORKS Lectures -->

<div class="title2" id="cn">
		<span>Computer Networks</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/static/img/courses/cn.jpg">
					<iframe src="https:/www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https:/youtu.be/qiQR5rTSshw" target="_blank">Click Here to Watch full playlist</a>
	</div>

	

<!-- Links for SAMPLE PAPERS -->

<div class="title2" id="sample_papers">
    <span>DSA Practice Questions</span>
    <div class="shortdesc2">
        <p>Practice more and more questions!!</p>
    </div>
</div>

<div class="sample">
    <ul>
        {% load static %}
        <li><a href="{% static "samplePapers/FINAL450_DSA.PDF" %}" target="_blank">DSA Practice Sheet</a></li>
    </ul>
</div>


<!-- FOOTER -->
<footer>
	<div class="footer-container">
		<div class="left-col">
			<img src="/static/img/icon/logo - Copy.png" style="height: 60;width: 150px;">
			<div class="logo"></div>
			<div class="social-media">
				<a href="#"><img src="/static/img/icon\fb.png"></a>
				<a href="#"><img src="/static/img/icon\insta.png"></a>
				<a href="#"><img src="/static/img/icon\tt.png"></a>
				<a href="#"><img src="/static/img/icon\ytube.png"></a>
				<a href="#"><img src="/static/img/icon\linkedin.png"></a>
			</div><br><br>
			<p class="rights-text">Made with ❤ by Banti, Jayesh & Arpitshivam</p>
			<br><p><img src="/static/img/icon/location.png">Thakur College of Engineering & Technology <br> Kandivali, Mumbai</p><br>
			<p><img src="/static/img/icon/phone.png"> +91-9876-576-997<br><img src="/static/img/icon/mail.png">&nbsp; learnsmart@gmail.com</p>
		</div>
		<div class="right-col">
			<h1 style="color: #fff">Our Newsletter</h1>
			<div class="border"></div><br>
			<p>Enter Your Email to get our News and Updates.</p>
			<form class="newsletter-form">
				<input class="txtb" type="email" placeholder="Enter Your Email">
				<input class="btn" type="submit" value="Submit">
			</form>
		</div>
	</div>
</footer>

</body>
</html>